@*<nav class="navbar navbar-default nav nav-icreon">
    <div class=" container ">
        <div class="navbar-header ">
            <a class="navbar-brand " href="#">
                <svg width="20" height="20">
                    <image href="./assets/Logo.svg " src="svg.png " width="20 " height="20 " />
                </svg>
            </a>
        </div>
        <p class="navbar-text ">ICREON BRC</p>
        <p class="navbar-text navbar-right ">Welcome: Vijender Kumar</p>
    </div>
</nav>*@
<div class="navbar navbar-default navbar-fixed-top nav-icreon">
    <div class="container">
        <div class="navbar-header">
            <a href="/" class="navbar-brand logo" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
                <svg xmlns="http://www.w3.org/2000/svg" width="168" height="28" viewBox="436 531 168 28" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <defs>
                        <path id="path-1" d="M26.5991293.42205263H.50427784V26.2893944H26.5991293V.42205263z"></path>
                    </defs>
                    <g id="icreon-logo" fill="none" fill-rule="evenodd">
                        <path id="i-letter" class="logo-letter" fill="#FFF" d="M437.79135385 533.82398684v21.64192106c0 .4895526-.40133334.8867368-.89528205.8867368-.49538462 0-.896-.3971842-.896-.8867368v-21.64192106c0-.48955263.40061538-.88673684.896-.88673684.4939487 0 .89528205.3971842.89528205.88673684"></path>
                        <path id="c-letter" class="logo-letter" fill="#FFF" d="M452.4623487 544.6442368c0-6.68960522 5.1031795-12.0753947 12.3034872-12.0753947 3.9996923 0 7.5449231 1.85802632 9.6162051 4.79960527.3029744.42986842.1593846 1.02742105-.3001025 1.2881842-.4135385.2344737-.9347693.1101316-1.2018462-.28207894-1.6821538-2.47760526-4.7147692-4.09973684-8.1142564-4.09973684-6.2188718 0-10.5122051 4.61628946-10.5122051 10.369421 0 5.7538421 4.2933333 10.3701316 10.5122051 10.3701316 3.4325128 0 6.4974359-1.6526842 8.1853333-4.1892631.2634872-.3964737.7904616-.525079 1.2068718-.2884737l.0021539.001421c.4551795.2593421.6002051.8497895.3044102 1.2803685-2.0497436 2.9827894-5.6315897 4.901921-9.6987692 4.901921-7.2003077 0-12.3034872-5.3857895-12.3034872-12.0761053"></path>
                        <path id="r-letter" class="logo-letter" fill="#FFF" d="M491.1327179 534.60947368h7.5377436c2.8725129 0 5.2051282 2.3411842 5.2051282 5.25221053 0 2.8762105-2.3326153 5.2173947-5.2051282 5.2173947-.0014359 0-.0021538.0007106-.0035897.0007106h-7.5341539v-10.47031582zm14.3977436 20.38357892l-5.0687179-8.4751579c3.192-.8512105 5.4714872-3.8133947 5.18-7.24665786-.3065641-3.61160526-3.4691282-6.3343421-7.1313846-6.3343421h-8.1961026c-.5370256 0-.9728205.43128947-.9728205.96347368v21.53249998c0 .4284474.2929231.822079.7186667.9023684.5722051.1087106 1.0726153-.3225789 1.0726153-.8689736v-8.7131843h7.4645129l5.4276923 9.165079c.1945641.3289737.5865641.5023421.9771282.4085526.6282051-.1506316.8572308-.783.5284102-1.3336579z"></path>
                        <path id="e-letter" class="logo-letter" fill="#FFF" d="M533.8257538 555.5158579v.0007105c0 .4611316-.377641.8362895-.8457435.8362895h-11.802359c-.5370257 0-.9735385-.432-.9735385-.9634737v-21.48915788c0-.5321842.4365128-.96276316.9735385-.96276316h11.634359c.4659487 0 .8450256.37444737.8450256.83557895 0 .46255264-.3790769.83628948-.8450256.83628948h-10.8166154v9.09900002h9.9708718c.4681025 0 .8457436.3737368.8457436.8362895 0 .4618421-.3776411.8355789-.8457436.8355789h-9.9708718v9.2993684h10.9846154c.4681025 0 .8457435.3744474.8457435.8362895"></path>
                        <path id="n-letter" class="logo-letter" fill="#FFF" d="M603.830636 533.82327632v21.52042108c0 .5570526-.455898 1.0089473-1.018769 1.0089473h-.033026c-.336 0-.649026-.1641315-.84-.4383947l-13.654667-19.6993421v19.251c0 .4895526-.402051.8867368-.895282.8867368h-.000718c-.495384 0-.895282-.3971842-.895282-.8867368v-21.52042106c0-.5563421.454462-1.00823684 1.01877-1.00823684.333846 0 .649025.16342105.838564.43697368l13.690564 19.70005262v-19.25099998c0-.4888421.399897-.88602632.895282-.88602632.493231 0 .894564.3971842.894564.88602632"></path>
                        <g class="o-symbol-wrapper" transform="translate(546.564 531.29)">
                            <mask id="mask-2" fill="#fff">
                                <use xlink:href="#path-1"></use>
                            </mask>
                            <path class="o-symbol" fill="#FFF" d="M13.5754769.42191053c-7.18810254 0-12.32430767 5.52363158-12.98769228 11.46292107-.4171282 3.7359473.73805128 7.3212631 3.25015384 10.0958684 2.47764103 2.7383684 6.0257436 4.3086316 9.73682054 4.3086316 0 0 .4314872.0135.4314872-.3552632 0-.3751579-.4314872-.3538421-.4314872-.3538421-3.4396923 0-6.71425644-1.5624474-8.98297438-4.2880263-2.3297436-2.7994737-3.26666667-6.426-2.5731282-9.9487895C3.08624614 5.92991053 7.94029743 2.0007 13.5625538 2.0007c5.9324103 0 10.220718 4.49621053 10.752 10.4333684.0545641.6067895.6203077 1.1112632 1.3382565 1.0039737.6813333-.1008947.9835897-.7353947.9426666-1.216421C26.0146564 5.6052 20.2926051.42191053 13.5754769.42191053" mask="url(#mask-2)"></path>
                        </g>
                    </g>
                </svg>
            </a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li>@Html.ActionLink("Users", "Index", "User")</li>
                <li>@Html.ActionLink("About", "About", "Home")</li>
                <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</div>