<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - BRC</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="wrapper" style="height: auto; min-height: 100%;">
        @Html.Partial("~/Views/Shared/_Header.cshtml")
        <div class="container body-content">
            @*<div class="content-wrapper" style="min-height: 960px;">*@
            @RenderBody()            
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
